In [1]:
# Import libraries
import pandas as pd

In [2]:
file_orig = 'school_summary_orig.csv'
file_ths = 'school_summary_ths.csv'

school_summary_orig = pd.read_csv(file_orig)
school_summary_ths = pd.read_csv(file_ths)

In [3]:
school_summary_ths.index.name = None
school_summary_orig.index.name = None
school_summary_ths = school_summary_ths.rename(columns = {'Unnamed: 0': 'School Name'})
school_summary_orig = school_summary_orig.rename(columns = {'Unnamed: 0': 'School Name'})

In [4]:
school_summary_vs = school_summary_orig.merge(school_summary_ths, on = ['School Name', 'School Type', 'Total Students','Total School Budget', 'Per Student Budget'], how = 'left', suffixes = ('_orig', '_ths' ))
school_summary_vs = school_summary_vs.set_index('School Name')
school_summary_vs_clean = school_summary_vs.loc[:,'Average Math Score_orig': '% Overall Passing_ths']

In [5]:
school_summary_vs_clean['Avg Math vs Orig'] = school_summary_vs_clean['Average Math Score_ths']-school_summary_vs_clean['Average Math Score_orig']
school_summary_vs_clean['Avg Reading vs Orig'] = school_summary_vs_clean['Average Reading Score_ths']-school_summary_vs_clean['Average Reading Score_orig']
school_summary_vs_clean['% Passing Math vs Orig'] = school_summary_vs_clean['% Passing Math_ths']-school_summary_vs_clean['% Passing Math_orig']
school_summary_vs_clean['% Passing Reading vs Orig'] = school_summary_vs_clean['% Passing Reading_ths']-school_summary_vs_clean['% Passing Reading_orig']
school_summary_vs_clean['% Overall Passing vs Orig'] = school_summary_vs_clean['% Overall Passing_ths']-school_summary_vs_clean['% Overall Passing_orig']
school_summary_vs_ready = school_summary_vs_clean.loc[:,'Avg Math vs Orig':'% Overall Passing vs Orig']

In [6]:
# Formatting
school_summary_vs_ready['Avg Math vs Orig'] = school_summary_vs_ready['Avg Math vs Orig'].map('{:,.2f}'.format)
school_summary_vs_ready['Avg Reading vs Orig'] = school_summary_vs_ready['Avg Reading vs Orig'].map('{:,.2f}'.format)
school_summary_vs_ready['% Passing Math vs Orig'] = school_summary_vs_ready['% Passing Math vs Orig'].map('{:,.2f}'.format)
school_summary_vs_ready['% Passing Reading vs Orig'] = school_summary_vs_ready['% Passing Reading vs Orig'].map('{:,.2f}'.format)
school_summary_vs_ready['% Overall Passing vs Orig'] = school_summary_vs_ready['% Overall Passing vs Orig'].map('{:,.2f}'.format)
school_summary_vs_ready

,Avg Math vs Orig,Avg Reading vs Orig,% Passing Math vs Orig,% Passing Reading vs Orig,% Overall Passing vs Orig
School Name,,,,,
Bailey High School,0.00,0.00,0.00,0.00,0.00
Cabrera High School,0.00,0.00,0.00,0.00,0.00
Figueroa High School,0.00,0.00,0.00,0.00,0.00
Ford High School,0.00,0.00,0.00,0.00,0.00
Griffin High School,0.00,0.00,0.00,0.00,0.00
Hernandez High School,0.00,0.00,0.00,0.00,0.00
Holden High School,0.00,0.00,0.00,0.00,0.00
Huang High School,0.00,0.00,0.00,0.00,0.00
Johnson High School,0.00,0.00,0.00,0.00,0.00
Pena High School,0.00,0.00,0.00,0.00,0.00
Rodriguez High School,0.00,0.00,0.00,0.00,0.00
Shelton High School,0.00,0.00,0.00,0.00,0.00
Thomas High School,-0.07,0.05,-26.36,-27.65,-25.87
Wilson High School,0.00,0.00,0.00,0.00,0.00
Wright High School,0.00,0.00,0.00,0.00,0.00

In [7]:
school_summary_vs_ready.loc['Thomas High School', :]

Avg Math vs Orig              -0.07
Avg Reading vs Orig            0.05
% Passing Math vs Orig       -26.36
% Passing Reading vs Orig    -27.65
% Overall Passing vs Orig    -25.87
Name: Thomas High School, dtype: object

In [8]:
school_summary_ths_HtoL = school_summary_ths.sort_values(['% Overall Passing'], ascending= False, ignore_index = True)
school_summary_orig_HtoL = school_summary_orig.sort_values(['% Overall Passing'], ascending= False, ignore_index = True)

In [11]:
school_summary_ths_HtoL[['School Name', '% Overall Passing']]

              School Name  % Overall Passing
0     Cabrera High School          91.334769
1     Griffin High School          90.599455
2      Wilson High School          90.582567
3        Pena High School          90.540541
4      Wright High School          90.333333
5     Shelton High School          89.892107
6      Holden High School          89.227166
7      Thomas High School          65.076453
8      Bailey High School          54.642283
9        Ford High School          54.289887
10    Johnson High School          53.539172
11  Hernandez High School          53.527508
12      Huang High School          53.513884
13   Figueroa High School          53.204476
14  Rodriguez High School          52.988247

In [12]:
school_summary_orig_HtoL[['School Name', '% Overall Passing']]

              School Name  % Overall Passing
0     Cabrera High School          91.334769
1      Thomas High School          90.948012
2     Griffin High School          90.599455
3      Wilson High School          90.582567
4        Pena High School          90.540541
5      Wright High School          90.333333
6     Shelton High School          89.892107
7      Holden High School          89.227166
8      Bailey High School          54.642283
9        Ford High School          54.289887
10    Johnson High School          53.539172
11  Hernandez High School          53.527508
12      Huang High School          53.513884
13   Figueroa High School          53.204476
14  Rodriguez High School          52.988247

In [31]:
file_orig = 'size_summary_orig.csv'
file_ths = 'size_summary_ths.csv'

spending_summary_orig =pd.read_csv(file_orig)
spending_summary_ths =pd.read_csv(file_ths)

In [32]:
spending_summary_vs = spending_summary_orig.merge(spending_summary_ths, on = 'School Size', how = 'left', suffixes = ('_orig', '_ths'))
spending_summary_vs

,School Size,Average Math Score_orig,Average Reading Score_orig,% Passing Math_orig,% Passing Reading_orig,% Overall Passing_orig,Average Math Score_ths,Average Reading Score_ths,% Passing Math_ths,% Passing Reading_ths,% Overall Passing_ths
0,Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853,83.821598,83.929843,93.550225,96.099437,89.883853
1,Medium (1000-1999),83.374684,83.864438,93.599695,96.790680,90.621535,83.374684,83.864438,93.599695,96.790680,90.621535
2,Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003,77.746417,81.344493,69.963361,82.766634,58.286003

In [33]:
spending_summary_vs['Avg Math vs orig'] = spending_summary_vs['Average Math Score_ths']-spending_summary_vs['Average Math Score_orig']
spending_summary_vs['Avg Reading vs orig'] = spending_summary_vs['Average Reading Score_ths']-spending_summary_vs['Average Reading Score_orig']
spending_summary_vs['% Passing Math vs orig'] = spending_summary_vs['% Passing Math_ths']-spending_summary_vs['% Passing Math_orig']
spending_summary_vs['% Passing Reading vs orig'] = spending_summary_vs['% Passing Reading_ths']-spending_summary_vs['% Passing Reading_orig']
spending_summary_vs['% Overall Passing vs orig'] = spending_summary_vs['% Overall Passing_ths']-spending_summary_vs['% Overall Passing_orig']
spending_summary_vs

,School Size,Average Math Score_orig,Average Reading Score_orig,% Passing Math_orig,% Passing Reading_orig,% Overall Passing_orig,Average Math Score_ths,Average Reading Score_ths,% Passing Math_ths,% Passing Reading_ths,% Overall Passing_ths,Avg Math vs orig,Avg Reading vs orig,% Passing Math vs orig,% Passing Reading vs orig,% Overall Passing vs orig
0,Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853,83.821598,83.929843,93.550225,96.099437,89.883853,0.0,0.0,0.0,0.0,0.0
1,Medium (1000-1999),83.374684,83.864438,93.599695,96.790680,90.621535,83.374684,83.864438,93.599695,96.790680,90.621535,0.0,0.0,0.0,0.0,0.0
2,Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003,77.746417,81.344493,69.963361,82.766634,58.286003,0.0,0.0,0.0,0.0,0.0